In [1]:
# # Dictionary
# -Indexing
# -Ordered
# -Multiple
# -Mutable

In [5]:
#d = {<key>:<value>,<key>:<value>,..}b
d = {'a':'Apple','b':'ball','c':'cat'}
print(type(d))
print(len(d))

<class 'dict'>
3

In [8]:
d = {'a':'Apple','b':'ball','c':'cat'}
d['c']

'cat'

In [9]:
d = {'a':'Apple','b':'ball','c':'cat'}
print(d)

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}

In [10]:
# No + *

In [11]:
d = {'a':'Apple','a':'ant'}
d

{'a': 'ant'}

In [12]:
d = {'a':'Apple','A':'ant'}
d

{'a': 'Apple', 'A': 'ant'}

In [13]:
d = {'a':'Apple','A':'ant'}
for i in d:
    print(i)

a
A

In [14]:
d = {'a':'Apple','A':'ant'}
for i in d.values():
    print(i)

Apple
ant

In [15]:
d = {'a':'Apple','A':'ant'}
for i in d.items():
    print(i)

('a', 'Apple')
('A', 'ant')

In [16]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d

{'a': 'Apple', 'b': 'Ball'}

In [18]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data[name] = phone
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9808778765
Enter name = Shyam
Enter phone = 9808778765
{'Ram': '9808778765', 'Shyam': '9808778765'}

In [21]:
#del pop()
d = {'Ram': '9808778765', 'Shyam': '9808778765'}
del d['Ram']
d

{'Shyam': '9808778765'}

In [22]:
d = {'Ram': '9808778765', 'Shyam': '9808778765'}
d.pop('Ram')
print(d)

{'Shyam': '9808778765'}

In [23]:
# list inside dictionary
d = {'Ram':[9808778765,9808778723],
    'Shyam':[9808778765,9808665343]}

In [25]:
d['Ram']

[9808778765, 9808778723]

In [26]:
d['Ram'][0]

9808778765

In [27]:
d['Ram'][0] = 9800000000
d

{'Ram': [9800000000, 9808778723], 'Shyam': [9808778765, 9808665343]}

In [28]:
del d['Ram'][0]
d

{'Ram': [9808778723], 'Shyam': [9808778765, 9808665343]}

In [30]:
d = {'Ram': [9800000000, 9808778723], 'Shyam': [9808778765, 9808665343]}
d['Ram'].append(9808111111)
d

{'Ram': [9800000000, 9808778723, 9808111111],
 'Shyam': [9808778765, 9808665343]}

In [ ]:
# d = {'Name':['Ram','Shyam','Hari'],
#     'Age':[78,45,28],
#     'Add':['Kathmandu','Bhaktapur','lalitpur']}

In [31]:
data = {'Name':[],'Age':[],'Add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    
    data['Name'].append(name)
    data['Age'].append(age)
    data['Add'].append(add)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 23
Enter add = Bara
{'Name': ['Ram', 'Shyam'], 'Age': ['78', '23'], 'Add': ['Kathmandu', 'Bara']}

In [33]:
# Dict inside list
data = [{'Name':'Ram','Age':45,'Add':'Kathmandu'},
       {'Name':'Shyam','Age':25,'Add':'Bara'},
       {'Name':'Hari','Age':55,'Add':'Bhaktapur'}]

In [34]:
data[0]

{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}

In [35]:
data[0]['Name']

'Ram'

In [36]:
data[0]['Name'] = 'Rama'
data

[{'Name': 'Rama', 'Age': 45, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 25, 'Add': 'Bara'},
 {'Name': 'Hari', 'Age': 55, 'Add': 'Bhaktapur'}]

In [38]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    
    data.append({'Name':name,'Age':age,'Add':add})
    
print(data)

Enter n = 1
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
[{'Name': 'Ram', 'Age': '78', 'Add': 'Kathmandu'}]

In [40]:
x = data[0].pop('Name')
x

'Ram'

In [ ]:
da[{'Name': 'Rama', 'Age': 45, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 25, 'Add': 'Bara'},
 {'Name': 'Hari', 'Age': 55, 'Add': 'Bhaktapur'}]