In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\python311\lib\site-packages (2.2.9)

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector    #importing database
database=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python class3pm"
)
db=database.cursor()

In [3]:
# db.execute("CREATE DATABASE pythons")

In [4]:
db.execute("SELECT * FROM student")
result=db.fetchall()
print(result)

[(1, 'NIKHIL', 99, 89, 97, 100, 100, 489, 98.0, 'P'), (3, 'SWEETA', 99, 99, 99, 99, 99, 495, 99.0, 'P'), (4, 'ARUSHI', 99, 97, 98, 100, 95, 460, 93.0, 'A'), (5, 'PRANJAL BARNWAL', 99, 97, 98, 100, 95, 460, 93.0, 'A'), (6, 'kiran', 89, 99, 100, 100, 100, 490, 90.0, 'A+'), (0, 'nabin', 78, 90, 98, 89, 99, 400, 90.0, 'A+')]

In [5]:
db.execute("SELECT sn,Name,grade FROM student")
result=db.fetchall()
print(result)

[(1, 'NIKHIL', 'P'), (3, 'SWEETA', 'P'), (4, 'ARUSHI', 'A'), (5, 'PRANJAL BARNWAL', 'A'), (6, 'kiran', 'A+'), (0, 'nabin', 'A+')]

In [6]:
sql='''INSERT INTO student(Name, Physics, Chemistry, English, Nepali, Computer, Total, Per, Grade) 
VALUES ('nabin',78,90,98,89,99,400,90,'A+')'''
db.execute(sql)
database.commit()

In [11]:
n=int(input("enter the number="))
for i in range(n):
    Name= input("enter name=")
    Physics= int(input("enter physics="))
    Chemistry= int(input("enter chemistry="))
    English= int(input("enter English="))
    Nepali= int(input("enter Nepali="))
    Computer= int(input("enter Computer="))
    Total= Physics+Chemistry+English+Nepali+Computer
    per=Total/5
    if per>80:
        grade='A'
    elif per>90:
        grade='A+'
    elif per>70:
        grade='B'
    else:
        grade='F'
    sql=f'''INSERT INTO student(Name, Physics, Chemistry, English, Nepali, Computer, Total, Per, Grade) 
    VALUES ('{Name}',{Physics},{Chemistry},{English},{Nepali},{Computer},{Total},{per},'{grade}')'''
    db.execute(sql)
database.commit()

enter the number= 2
enter name= prabin
enter physics= 12
enter chemistry= 34
enter English= 56
enter Nepali= 78
enter Computer= 89
enter name= shikha
enter physics= 12
enter chemistry= 34
enter English= 56
enter Nepali= 78
enter Computer= 90

In [12]:
db.execute("SELECT * FROM student WHERE Grade='A+'")
result=db.fetchall()
print(result)

[(6, 'kiran', 89, 99, 100, 100, 100, 490, 90.0, 'A+'), (0, 'nabin', 78, 90, 98, 89, 99, 400, 90.0, 'A+'), (0, 'nabin', 78, 90, 98, 89, 99, 400, 90.0, 'A+')]

In [15]:
db.execute("SELECT * FROM student WHERE Grade='A+' and Physics>80")
result=db.fetchall()
print(result)

[(6, 'kiran', 89, 99, 100, 100, 100, 490, 90.0, 'A+')]

In [16]:
sql=("DELETE FROM student WHERE Grade='F'")
db.execute(sql)
database.commit()

In [17]:
sql=("UPDATE student SET Name='shweta' WHERE Name='SWEETA'")
db.execute(sql)
database.commit()